<div class="game-comments" id="reviewAnchor">
	<div class="container">
	<div class="game-comments__titles">
		<a href="javascript:void(0)" class="game-comments--title" data-content="comments" data-state="is-opened">Комментарии<span>4</span></a>
		<a href="javascript:void(0)" class="game-comments--title" data-content="reviews">Отзывы<span>17</span></a>
	</div>
	<div class="game-comments--block" data-state="is-opened" data-content="comments">
		<div class="comment">
			<div class="comment--parent">
				<div class="comment--avatar">
					<img src="./img/founder.png" alt="Avatar">
				</div>
				<div class="comment--content">
					<p class="comment--title">Vetta<span>Вчера</span></p>
					<div class="comment--text-block">
					<p class="comment--text">Игра хорошая, для любителей больниц и симуляторов подойдёт. Смешные названия кабинетов - да!Но куда в этом деле без юмора?</p>
					<a href="javascript:void(0)" class="comment--link">ответить</a>
					</div>
				</div>
			</div>
			<div class="comment--inside">
				<div class="comment--avatar">
					<img src="./img/founder.png" alt="Avatar">
				</div>
				<div class="comment--content">
					<p class="comment--title">Vetta<span>Вчера</span></p>
					<div class="comment--text-block">
					<p class="comment--text">Игра хорошая, для любителей больниц и симуляторов подойдёт. Смешные названия кабинетов - да!Но куда в этом деле без юмора?</p>
					<a href="javascript:void(0)" class="comment--link">ответить</a>
				</div>
				</div>
			</div>
			<div class="comment--inside">
				<div class="comment--avatar">
					<img src="./img/founder.png" alt="Avatar">
				</div>	
				<div class="comment--content">
					<p class="comment--title">Vetta<span>Вчера</span></p>
					<div class="comment--text-block">
					<p class="comment--text">Игра хорошая, для любителей больниц и симуляторов подойдёт. Смешные названия кабинетов - да!Но куда в этом деле без юмора?</p>
					<a href="javascript:void(0)" class="comment--link">ответить</a>
				</div>
				</div>
			</div>
			<div class="comment--inside">
				<div class="comment--avatar">
					<img src="./img/founder.png" alt="Avatar">
				</div>
				<div class="comment--content">
					<p class="comment--title">Vetta<span>Вчера</span></p>
					<div class="comment--text-block">
					<p class="comment--text">Игра хорошая, для любителей больниц и симуляторов подойдёт. Смешные названия кабинетов - да!Но куда в этом деле без юмора?</p>
					<a href="javascript:void(0)" class="comment--link">ответить</a>
				</div>
				</div>	
			</div>
		</div>
		<div class="comment">
			<div class="comment--parent">
				<div class="comment--avatar">
					<img src="./img/founder.png" alt="Avatar">
				</div>
				<div class="comment--content">
					<p class="comment--title">Vetta<span>Вчера</span></p>
					<div class="comment--text-block">
					<p class="comment--text">Игра хорошая, для любителей больниц и симуляторов подойдёт. Смешные названия кабинетов - да!Но куда в этом деле без юмора?</p>
					<a href="javascript:void(0)" class="comment--link">ответить</a>
				</div>
				</div>
			</div>
		</div>
		<div class="comment">
			<div class="comment--parent">
				<div class="comment--avatar">
					<img src="./img/founder.png" alt="Avatar">
				</div>
				<div class="comment--content">
					<p class="comment--title">Vetta<span>Вчера</span></p>
					<div class="comment--text-block">
					<p class="comment--text">Игра хорошая, для любителей больниц и симуляторов подойдёт. Смешные названия кабинетов - да!Но куда в этом деле без юмора?</p>
					<a href="javascript:void(0)" class="comment--link">ответить</a>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="game-comments--block" data-content="reviews">
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
	</div>
	<div class="game-comments__feedback">
		<div class="game-comments__feedback--author">
			<img src="./img/founder.png" alt="">
			<span>Adanos</span>
		</div>
		<div class="game-comments__form">
			<div class="game-comments__form-textarea">
				<textarea name="review" cols="30" rows="10" placeholder="Текст вашего комментария"></textarea>
			</div>
			<div class="game-comments__form--rating">
				<ul class="game-comments__form--list">
					<li>
						<span class="game-comments__form--item">Графика</span>
						<span class="game-comments__form--stars">
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
						</span>
						<span class="game-comments__form--value">3</span>
					</li>
					<li>
						<span class="game-comments__form--item">Геймплей</span>
						<span class="game-comments__form--stars">
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
						</span>
					</li>
					<li>
						<span class="game-comments__form--item">Управление</span>
						<span class="game-comments__form--stars">
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
						</span>
					</li>
					<li>
						<span class="game-comments__form--item">В целом</span>
						<span class="game-comments__form--stars">
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star" data-state="is-active">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
							<span class="picture__rating--star">
								<svg class="icon h-icons--icon-30">
									<use xlink:href="./img/sprite.svg#icons--icon30"></use>
								</svg>
							</span>
						</span>
					</li>
				</ul>
				<div class="new__item--rating" data-rate="medium">6,6</div>
			</div>
			<div class="game-comments__form--buttons">
				<div class="game-comments__form--img">
					<svg class="icon h-icons--icon-10">
						<use xlink:href="./img/sprite.svg#icons--icon10"></use>
					</svg>
				</div>
				<div class="game-comments__form--smiles">
					<span class="js-smiles">
						<svg class="icon h-icons--icon-11">
							<use xlink:href="./img/sprite.svg#icons--icon11"></use>
						</svg>
					</span>
					<div class="game-comments__form--smiles-block">
						<span><img src="./img/smiles/smiles-01.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-02.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-03.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-04.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-05.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-06.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-07.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-08.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-09.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-10.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-11.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-12.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-13.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-14.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-15.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-16.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-17.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-18.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-19.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-20.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-21.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-22.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-23.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-24.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-25.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-26.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-27.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-28.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-29.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-30.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-31.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-32.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-33.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-34.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-35.svg" alt=""></span>
						<span><img src="./img/smiles/smiles-36.svg" alt=""></span>
					</div>
				</div>
				<div class="game-comments__form--rating-button">
					<svg class="icon icons--icon-7">
						<use xlink:href="./img/sprite.svg#icons--icon7"></use>
					</svg>
					<span class="game-comments__form--rating-text">
						<span>Оценить игру</span>
						<svg class="icon h-icons--icon-13">
							<use xlink:href="./img/sprite.svg#icons--icon13"></use>
						</svg>
					</span>
				</div>
			</div>
			<a href="javascript:void(0)" class="game-comments__form--submit">Отправить</a>
		</div>
	</div>
	</div>
</div>