<div class="game-descr">
	<div class="game-descr--toolbar">
	<a href="#downloadAnchor" class="game-descr--download js-anchor">Скачать</a>
	<div class="game-descr--numbers">
		<span class="item__content--downloads">
			<svg class="icon icons--icon-29">
				<use xlink:href="./img/sprite.svg#icons--icon29"></use>
			</svg>	
			2410
		</span>
		<span class="item__content--comments">
			<svg class="icon icons--icon-5">
				<use xlink:href="./img/sprite.svg#icons--icon5"></use>
			</svg>
			1,8k
		</span>
	</div>
	<div class="filter--button game--share">
		<a href="javascript:void(0)" class="js-filter">
			<svg class="icon icons--icon-22">
				<use xlink:href="./img/sprite.svg#icons--icon22"></use>
			</svg>
			Поделиться 
		</a>
		<ul class="filter__submenu js-filter__submenu">
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-26">
						<use xlink:href="./img/sprite.svg#icons--icon26"></use>
					</svg>
					Facebook 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-25">
						<use xlink:href="./img/sprite.svg#icons--icon25"></use>
					</svg>
					Twitter 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-27">
						<use xlink:href="./img/sprite.svg#icons--icon27"></use>
					</svg>
					Vkontakte 
				</a>
			</li>
		</ul>
	</div>
	</div>
	<p class="game-descr--description">X-Wing Flight – захватывающий симулятор на андроид, где вы будете управлять знаменитым космическим кораблем X-Wing известным из серии фильмов «Звездные войны». В этой игре вы будете выступать в роли повстанцев, которым предстоит сражаться с Империей. Возьмите под</p>
	<div class="item__tags game-descr--tags">
		<a href="javascript:void(0)" class="item__tags--tag">Игры на русском языке</a>
		<a href="javascript:void(0)" class="item__tags--tag">Игры с кэшем</a>
		<a href="javascript:void(0)" class="item__tags--tag">Бесплатные игры</a>
		<a href="javascript:void(0)" class="item__tags--tag">Машинки</a>
		<a href="javascript:void(0)" class="item__tags--tag -plus">
			<svg class="icon icons--icon-17">
				<use xlink:href="./img/sprite.svg#icons--icon17"></use>
			</svg>
		</a>
	</div>
	<div class="game-descr--slider-for">
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div><div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div><div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
	</div>
	<div class="game-descr--slider-nav--wrap">
	<div class="game-descr--slider-nav">
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div><div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div><div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
		<div class="game-descr--slider-item">
			<img src="./img/game_img.png" alt="game">
		</div>
	</div>
</div>
</div>