<div class="game-download" id="downloadAnchor">
	<p class="game-download--title">Скачать игру</p>
	<div class="game-download__block -first" data-state="is-opened">
		<div class="game-download__block--title">
			<span class="game-download__block--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			v1.89 Оригинал
		</div>
		<div class="game-download__block--content">
		<p class="game-download__block--meta">13.10.2018 - Пуш-апы на андроид 8+</p>
		<div class="game-download__block--instruction">
			<p>Кэш к игре My Pocket Girls: папку из архива распаковать в /Android/obb/ </p>
			<p>- должно получиться так /Android/obb/com.Denis.MyPocketGirl/ </p>
			<p>- установить apk, запустить игру!</p>
		</div>
		<div class="game-download__block--buttons">
			<a href="javascript:void(0)" class="game-download__block--button -orange">Скачать APK<span>32,73 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ<span>1410,72 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ через торрент
				<span>0.01 Мб</span></a>
		</div>
		<div class="game-download__toolbar">
		<p class="game-download__block--files">
			Файлы: <span><img src="./img/founder.png" alt="">Founder</span>
		</p>
		<p class="game-download__block--working">
			Работает? 
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-15">
					<use xlink:href="./img/sprite.svg#icons--icon15"></use>
				</svg>
			</a>
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-16">
					<use xlink:href="./img/sprite.svg#icons--icon16"></use>
				</svg>
			</a>
		</p>
		<div class="game-download__rating--block">
			<div class="game-download__block--rating">
				<div style="width: 88%"></div>
			</div>
			<p class="game-download__block--votes">Голосов: 26
				<span>88%</span>
			</p>
		</div>
	</div>
		</div>
	</div>
	<div class="game-download__block">
		<div class="game-download__block--title">
			<span class="game-download__block--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			v1.85 Оригинал
		</div>
		<div class="game-download__block--content">
		<p class="game-download__block--meta">13.10.2018 - Пуш-апы на андроид 8+</p>
		<div class="game-download__block--instruction">
			<p>Кэш к игре My Pocket Girls: папку из архива распаковать в /Android/obb/ </p>
			<p>- должно получиться так /Android/obb/com.Denis.MyPocketGirl/ </p>
			<p>- установить apk, запустить игру!</p>
		</div>
		<div class="game-download__block--buttons">
			<a href="javascript:void(0)" class="game-download__block--button -orange">Скачать APK<span>32,73 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ<span>1410,72 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ через торрент
				<span>0.01 Мб</span></a>
		</div>
		<div class="game-download__toolbar">
		<p class="game-download__block--files">
			Файлы: <span><img src="./img/founder.png" alt="">Founder</span>
		</p>
		<p class="game-download__block--working">
			Работает? 
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-15">
					<use xlink:href="./img/sprite.svg#icons--icon15"></use>
				</svg>
			</a>
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-16">
					<use xlink:href="./img/sprite.svg#icons--icon16"></use>
				</svg>
			</a>
		</p>
		<div class="game-download__rating--block">
			<div class="game-download__block--rating">
				<div style="width: 88%"></div>
			</div>
			<p class="game-download__block--votes">Голосов: 26
				<span>88%</span>
			</p>
		</div>
	</div>
		</div>
	</div>
	<div class="game-download__block">
		<div class="game-download__block--title">
			<span class="game-download__block--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			v1.61 Оригинал
		</div>
		<div class="game-download__block--content">
		<p class="game-download__block--meta">13.10.2018 - Пуш-апы на андроид 8+</p>
		<div class="game-download__block--instruction">
			<p>Кэш к игре My Pocket Girls: папку из архива распаковать в /Android/obb/ </p>
			<p>- должно получиться так /Android/obb/com.Denis.MyPocketGirl/ </p>
			<p>- установить apk, запустить игру!</p>
		</div>
		<div class="game-download__block--buttons">
			<a href="javascript:void(0)" class="game-download__block--button -orange">Скачать APK<span>32,73 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ<span>1410,72 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ через торрент
				<span>0.01 Мб</span></a>
		</div>
		<div class="game-download__toolbar">
		<p class="game-download__block--files">
			Файлы: <span><img src="./img/founder.png" alt="">Founder</span>
		</p>
		<p class="game-download__block--working">
			Работает? 
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-15">
					<use xlink:href="./img/sprite.svg#icons--icon15"></use>
				</svg>
			</a>
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-16">
					<use xlink:href="./img/sprite.svg#icons--icon16"></use>
				</svg>
			</a>
		</p>
		<div class="game-download__rating--block">
			<div class="game-download__block--rating">
				<div style="width: 88%"></div>
			</div>
			<p class="game-download__block--votes">Голосов: 26
				<span>88%</span>
			</p>
		</div>
	</div>
		</div>
	</div>
	<div class="game-download__block">
		<div class="game-download__block--title">
			<span class="game-download__block--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			v0.85 Китайская версия
		</div>
		<div class="game-download__block--content">
		<p class="game-download__block--meta">13.10.2018 - Пуш-апы на андроид 8+</p>
		<div class="game-download__block--instruction">
			<p>Кэш к игре My Pocket Girls: папку из архива распаковать в /Android/obb/ </p>
			<p>- должно получиться так /Android/obb/com.Denis.MyPocketGirl/ </p>
			<p>- установить apk, запустить игру!</p>
		</div>
		<div class="game-download__block--buttons">
			<a href="javascript:void(0)" class="game-download__block--button -orange">Скачать APK<span>32,73 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ<span>1410,72 Мб</span></a>
			<a href="javascript:void(0)" class="game-download__block--button">Скачать КЭШ через торрент
				<span>0.01 Мб</span></a>
		</div>
		<div class="game-download__toolbar">
		<p class="game-download__block--files">
			Файлы: <span><img src="./img/founder.png" alt="">Founder</span>
		</p>
		<p class="game-download__block--working">
			Работает? 
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-15">
					<use xlink:href="./img/sprite.svg#icons--icon15"></use>
				</svg>
			</a>
			<a href="javascipt:void" class="game-download__block--working-button">
				<svg class="icon icons--icon-16">
					<use xlink:href="./img/sprite.svg#icons--icon16"></use>
				</svg>
			</a>
		</p>
		<div class="game-download__rating--block">
			<div class="game-download__block--rating">
				<div style="width: 88%"></div>
			</div>
			<p class="game-download__block--votes">Голосов: 26
				<span>88%</span>
			</p>
		</div>
	</div>
		</div>
	</div>
	<div class="game-download__block--require">
		<p class="game-download__block--subtitle">Требования</p>
		<p class="game-download__block--text">Интернет: не известно</p>
		<p class="game-download__block--text">Автозагрузка кэша: Неизвестно</p>
		<p class="game-download__block--text">Требуется свободного места: 37 Mb</p>
	</div>
	<div class="game-download__block--help">
		<p class="game-download__block--subtitle">Помощь</p>
		<a href="javascript:void(0)" class="game-download__block--link">Как установить?</a>
		<a href="javascript:void(0)" class="game-download__block--link">Какой кэш выбрать?</a>
		<a href="javascript:void(0)" class="game-download__block--link">Как установить приложения с кэшем?</a>
		<a href="javascript:void(0)" class="game-download__block--link">Видео-инструкция</a>
	</div>
	<a href="javascript:void(0)" class="game-download__block--google"><img src="./img/google.png" alt=""></a>
</div>