<aside class="filter">
<div class="container">
<div class="filter__block">
	<div class="filter__part" data-state="is-opened">
		<div class="filter__part--title js-aside__title">
			<span class="filter__part--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			Тематика</div>		
		<ul class="filter__part--list">
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Кошки<span>135</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Собаки<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Рисунки<span>58</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Медведи<span>6</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Лягушки<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Кролики<span>99</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Рыбы<span>18</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Музыка<span>59</span></a>
			</li>
		</ul>
	</div>
	<div class="filter__part">
		<div class="filter__part--title js-aside__title">
			<span class="filter__part--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			Категории</div>		
		<ul class="filter__part--list ">
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Аркады<span>135</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Экшены<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Файтинги<span>58</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Хорроры <span>6</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Приключения<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">RPG<span>99</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Гонки<span>18</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Головоломки<span>59</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Стратегии<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Спортивные <span>99</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Симуляторы  <span>18</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Настольные  <span>59</span></a>
			</li>
		</ul>
	</div>
	<div class="filter__part">
		<div class="filter__part--title js-aside__title">
			<span class="filter__part--title_button">
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			Размеры
		</div>
		<input type="text" class="filter__part--input js-filter__part--input" data-state="hidden" placeholder="Найти">
		<ul class="filter__part--list filter__picture--list js-filter__part--list">
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">А Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Б Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">В Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">В Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Б Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">А Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Г Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Д Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Е Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Ж Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">З Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">И Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">С Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Я Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">я Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки0</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
		</ul>
		<a href="javascript:void(0)" class="filter__part--button js-filter__show">
			<svg class="icon icons--icon-13">
				<use xlink:href="./img/sprite.svg#icons--icon13"></use>
			</svg>
			<span>Показать все</span>
		</a>
	</div>
</div>
</div>
</aside>