<section class="subcategory__head">
	<div class="container">
		<ul class="subcategory__head--breadcrumbs">
			<li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Главная</a></li>
			<li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Игры</a></li>
			<li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Аркады</a></li><li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Strike Force</a></li>
		</ul>
		<h1 class="subcategory__head--title -game">MARVEL Strike Force</h1>
		<div class="breadcrumbs--star">
			<svg class="icon icons--icon-30">
				<use xlink:href="./img/sprite.svg#icons--icon30"></use>
			</svg>
		</div>
	</div>
</section>