<div class="game-info">
	<div class="game-info--buttons">
		<p class="game-info--text">Обновлене: 13 Октябрь 2018</p>
		<a href="javascript:void(0)" class="game-info--button">
			<svg class="icon icons--icon-24">
				<use xlink:href="./img/sprite.svg#icons--icon24"></use>
			</svg>
			Добавить информацию
		</a>
		<a href="javascript:void(0)" class="game-info--button">
			<svg class="icon icons--icon-19">
				<use xlink:href="./img/sprite.svg#icons--icon19"></use>
			</svg>
			Запросить обновление
		</a>
		<a href="javascript:void(0)" class="game-info--button">
			<svg class="icon icons--icon-23">
				<use xlink:href="./img/sprite.svg#icons--icon23"></use>
			</svg>
			Загрузить файлы
		</a>
	</div>
	<div class="game-info--admins-block">
		<p class="game-info--subtitle">Кураторы</p>
		<ul class="game-info--admins">
			<li><a href="javacript:void(0)"><img src="./img/founder.png" alt=""> Founder</a></li>
			<li><a href="javacript:void(0)"><img src="./img/founder.png" alt=""> Founder</a></li>
		</ul>
	</div>
</div>
