<div class="game-preview">
	<div class="game-preview--img">
		<img src="./img/game_picture.png" alt="">
	</div>
	<div class="game-preview__content">
	<div class="game-preview--rating">
		<ul class="game-preview--list">
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Графика</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">4</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Геймплей</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">4</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Управление</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">5</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">В целом</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">4</span>
			</li>
		</ul>
		<div class="new__item--rating" data-rate="medium">6,6</div>
	</div>
	<a href="#reviewAnchor" class="game-preview--link js-anchor">142 отзыва</a>
	<div class="game-preview__info">
		<ul class="game-preview--list">
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Версия ОС</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">Android 4.1+</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Категория</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">Симуляторы</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Язык</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">Английский</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Платный контент</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">
					<svg class="icon icons--icon-15">
						<use xlink:href="./img/sprite.svg#icons--icon15"></use>
					</svg>
				</span>
			</li>
			<li class="game-preview--item">
				<span class="game-preview--rating-name">Реклама</span>
				<span class="game-preview--rating-line"></span>
				<span class="game-preview--rating-rate">
					<svg class="icon icons--icon-16">
						<use xlink:href="./img/sprite.svg#icons--icon16"></use>
					</svg>
				</span>
			</li>
		</ul>
	</div>
	</div>
</div>