<section class="list list__pictures familiar__pictures">
	<div class="container">
		<div class="title list__title">
			<h2 class="title__text list__title--text">
				Похожие картинки
			</h2>
		</div>
		<div class="list__block js-slider">
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture1.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture2.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture3.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture4.png" class="list__item--img" alt="">
				</figure>
			</a><a class="list__item">
				<figure class="list__item--block">
					<img src="./img/picture1.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture2.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture3.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture4.png" class="list__item--img" alt="">
				</figure>
			</a><a class="list__item">
				<figure class="list__item--block">
					<img src="./img/picture1.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture2.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture3.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture4.png" class="list__item--img" alt="">
				</figure>
			</a>			
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture3.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture4.png" class="list__item--img" alt="">
				</figure>
			</a><a class="list__item">
				<figure class="list__item--block">
					<img src="./img/picture1.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture2.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture3.png" class="list__item--img" alt="">
				</figure>
			</a>
			<a class="list__item" href="javascript:void(0)">
				<figure class="list__item--block">
					<img src="./img/picture4.png" class="list__item--img" alt="">
				</figure>
			</a>
		</div>
			<a href="javascript:void(0)" class="items__show_more">
		<svg class="icon icons--icon-13">
			<use xlink:href="./img/sprite.svg#icons--icon13"></use>
		</svg>Показать еще</a>
	</div>
</section>