<div class="picture__buttons">
	<div class="container">
		<a href="javascript:void(0)" class="picture__button picture__button--reset">
			<svg class="icon h-icons--icon-19">
				<use xlink:href="./img/sprite.svg#icons--icon19"></use>
			</svg>
			Сбросить
		</a>
		<a href="javascript:void(0)" class="picture__button picture__button--submit">Применить</a>
		<a href="javascript:void(0)" class="picture__button picture__button--download">Скачать</a>
	</div>
</div>
<div class="picture__rating">
	<div class="container">
		<div class="picture__rating--stars">
			<span class="picture__rating--star" data-state="is-active">
				<svg class="icon h-icons--icon-30">
					<use xlink:href="./img/sprite.svg#icons--icon30"></use>
				</svg>
			</span>
			<span class="picture__rating--star" data-state="is-active">
				<svg class="icon h-icons--icon-30">
					<use xlink:href="./img/sprite.svg#icons--icon30"></use>
				</svg>
			</span>
			<span class="picture__rating--star" data-state="is-active">
				<svg class="icon h-icons--icon-30">
					<use xlink:href="./img/sprite.svg#icons--icon30"></use>
				</svg>
			</span>
			<span class="picture__rating--star">
				<svg class="icon h-icons--icon-30">
					<use xlink:href="./img/sprite.svg#icons--icon30"></use>
				</svg>
			</span>
			<span class="picture__rating--star">
				<svg class="icon h-icons--icon-30">
					<use xlink:href="./img/sprite.svg#icons--icon30"></use>
				</svg>
			</span>
		</div>
		<div class="picture__rating--rate" data-rate="high">3,5</div>
		<span class="picture__rating--count">2 оценки</span>
	</div>
</div>
<div class="picture__info">
	<div class="container">
		<span class="item__content--downloads">
			<svg class="icon icons--icon-29">
				<use xlink:href="./img/sprite.svg#icons--icon29"></use>
			</svg>	
			2410
		</span>
		<span class="item__content--comments">
			<svg class="icon icons--icon-5">
				<use xlink:href="./img/sprite.svg#icons--icon5"></use>
			</svg>
			1,8k
		</span>
		<div class="filter--button">
		<a href="javascript:void(0)" class="js-filter">
			<svg class="icon icons--icon-22">
				<use xlink:href="./img/sprite.svg#icons--icon22"></use>
			</svg>
			Поделиться 
		</a>
		<ul class="filter__submenu js-filter__submenu">
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-26">
						<use xlink:href="./img/sprite.svg#icons--icon26"></use>
					</svg>
					Facebook 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-25">
						<use xlink:href="./img/sprite.svg#icons--icon25"></use>
					</svg>
					Twitter 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-27">
						<use xlink:href="./img/sprite.svg#icons--icon27"></use>
					</svg>
					Vkontakte 
				</a>
			</li>
		</ul>
	</div>
	</div>
</div>