<section class="new">
	<div class="container">
		<div class="title new__title">
			<h1 class="title__text new__title--text">
				<svg class="icon icons--icon-1">
					<use xlink:href="./img/sprite.svg#icons--icon1"></use>
				</svg>
				Новинки
			</h1>
		</div>
		<div class="new__block js-slider">
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_1.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="high">9.2</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_2.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="medium">5.7</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_3.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="medium">5.2</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_4.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="low">2.5</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_1.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="high">9.2</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_2.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="medium">5.7</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_3.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="medium">5.2</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_4.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="low">2.5</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_1.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="high">9.2</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_2.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="medium">5.7</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="new__item">
				<figure class="new__item--block">
					<img src="./img/item1_3.png" class="new__item--img" alt="">
					<span class="new__item--rating" data-rate="medium">5.2</span>
					<figcaption class="new__item--name">
						<div class="new__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="button--all">
				<span class="button--all__n" data-more="+">52</span>
				<span class="button--all__t">Посмотреть</span>
				<span class="button--all__m">Все новинки</span>
				<svg class="icon icons--icon-21">
					<use xlink:href="./img/sprite.svg#icons--icon21"></use>
				</svg>
			</a>
		</div>
	</div>
</section>