<section class="reviews">
	<div class="container">
		<div class="title list__title">
			<h2 class="title__text list__title--text">
				Новые отзывы <br>к играм
			</h2>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
		<div class="review">
			<span class="review__rating" data-rate="high">9.4</span>
			<div class="review__title">
				<div class="review__title--image"><img src="./img/avatar.png" alt=""></div>
				<p class="review__title--name">Vovkdima82</p>
				<p class="review__title--date">2 часа назад</p>
			</div>
			<div class="review__content">
				<p class="review__game">Magic Piano Tiles 2018</p>
				<p class="review__text">Шикарная игра! Особенно если 	вы любите музыку и быстро нажимать на экран вашего телефона. Очень классно что в игре есть не только классика (которую я так люблю), но и современные песни)))</p>
			</div>
		</div>
	</div>
</section>