<section class="description">
	<div class="container">
		<div class="description__info">
			<h3 class="description__title">Androspace — это:</h3>
			<ul class="desription__list">
				<li class="description__list--item">
					<span class="description__list--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
					новые игры,
				</li>
				<li class="description__list--item">
					<span class="description__list--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
					невероятные темы
				</li>
				<li class="description__list--item">
					<span class="description__list--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
					и крутое оформление на Android
				</li>
			</ul>
		</div>
		<div class="description__content">
			<p class="description__text">Друзья, рады приветствовать вас на нашем сайте. Мы сделали удобную навигацию и расставили все приложения по рейтингу, вам будет очень удобно ориентироваться в выборе и поиске игр, программ и приложений по оформлению интерфейса. Все приложения расформированы по версиям ОС Андроид. </p>
			<p class="description__text">Также мы собрали все модели телефонов и планшетов, теперь каждый сможет найти игру по душе, которая будет подходить именно для вашего устройства.</p>
		</div>
	</div>
</section>