<section class="top">
	<div class="container">
		<div class="top__block" id="topSlider">
			<div class="top__block--item">
			<div class="title">
				<h2 class="title__text">
					Топ <br>пользователей
				</h2>
			</div>
			<div class="users__block">
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">1</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Vovkdima82</p>
					<p class="users__block--rating">1525</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">2</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Атдыхающий  longlonglong</p>
					<p class="users__block--rating">718</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">3</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">FINDER</p>
					<p class="users__block--rating">699</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">4</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">DarkCat</p>
					<p class="users__block--rating">598</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">5</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Vovkdima82</p>
					<p class="users__block--rating">376</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">6</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">sergey</p>
					<p class="users__block--rating">339</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">7</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Andrey77</p>
					<p class="users__block--rating">247</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">8</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Типичный longlonglong</p>
					<p class="users__block--rating">245</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">9</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">ANGRY MARIO</p>
					<p class="users__block--rating">234</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">10</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Незнаuка</p>
					<p class="users__block--rating">233</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
			</div>
			</div>
			<div class="top__block--item">
			<div class="title">
				<h3 class="title__text">
					Топ <br>комментаторов
				</h3>
			</div>
			<div class="users__block">
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">1</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Vovkdima82</p>
					<p class="users__block--rating">1525</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">2</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Атдыхающий  longlonglong</p>
					<p class="users__block--rating">718</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">3</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">FINDER</p>
					<p class="users__block--rating">699</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">4</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">DarkCat</p>
					<p class="users__block--rating">598</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">5</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Vovkdima82</p>
					<p class="users__block--rating">376</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">6</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">sergey</p>
					<p class="users__block--rating">339</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">7</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Andrey77</p>
					<p class="users__block--rating">247</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">8</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Типичный longlonglong</p>
					<p class="users__block--rating">245</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">9</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">ANGRY MARIO</p>
					<p class="users__block--rating">234</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
				<a href="javascript:void(0)" class="users__block--user">
					<span class="users__block--number">10</span>
					<div class="users__block--image"><img src="./img/avatar.png" alt="avatar"></div>
					<p class="users__block--name">Незнаuка</p>
					<p class="users__block--rating">233</p>
					<span class="users__block--star">
						<svg class="icon icons--icon-30">
							<use xlink:href="./img/sprite.svg#icons--icon30"></use>
						</svg>
					</span>
				</a>
			</div>
			</div>
		</div>
	</div>
</section>