<section class="list">
	<div class="container">
		<div class="title list__title">
			<h2 class="title__text list__title--text">
				<svg class="icon icons--icon-2">
					<use xlink:href="./img/sprite.svg#icons--icon2"></use>
				</svg>
				Обновленные
			</h2>
		</div>
		<div class="list__block js-slider">
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_1.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="high">9.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
						<div class="list__item--uploaded">205 632 загрузок <span>$7,34</span></div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_2.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.7</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_3.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_4.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="low">2.5</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_1.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="high">9.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_2.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.7</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_3.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_4.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="low">2.5</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_1.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="high">9.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_2.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.7</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_3.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/item1_4.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="low">2.5</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Brick Blast Ball</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="button--all">
			<span class="button--all__n" data-more="+">17</span>
				<span class="button--all__t">Посмотреть</span>
				<span class="button--all__m">Все обновления</span>
			<svg class="icon icons--icon-21">
				<use xlink:href="./img/sprite.svg#icons--icon21"></use>
			</svg>
		</a>
		</div>
	</div>
</section>