.list__block.-large {
	& .list__item--img {
		height: auto;
		flex: 1 1 auto;
	}
	& .list__item--rating {
		bottom: 75px;
		top: auto;
	}
	& .slick-dots {
		position: static;
		margin-top: 20px;
	}
}

@include respond-above(sm) {
	.list__block.-large {
		.slick-slide {
			width: 100% !important;
		}
	}
}

@include respond-above(md) {
	.list__block.-large {
		& .list__item {
			&:nth-child(n + 7) {
				display: none;
			}
			flex: 0 0 calc((100% - 20px)/3);
		}
	}
}
@include respond-above(xl) {
	.list__block.-large {
		& .list__item {
			flex: 0 0 calc((100% - 30px)/4);
			display: block !important;
			&:nth-child(n + 9) {
				display: none;
			}
		}
	}
}