<aside class="filter">
<div class="filter__block">
	<div class="filter__part">
		<p class="filter__part--title">Тематика</p>		
		<ul class="filter__part--list js-filter__part--list">
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Кошки<span>135</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Собаки<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Рисунки<span>58</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Медведи<span>6</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Лягушки<span>17</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Кролики<span>99</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Рыбы<span>18</span></a>
			</li>
			<li class="filter__part--item">
				<a href="javascript:void(0)" class="filter__part--link">Музыка<span>59</span></a>
			</li>
		</ul>
	</div>
	<div class="filter__part">
		<p class="filter__part--title">Размеры</p>
		<input type="text" class="filter__part--input js-filter__part--input" data-state="hidden" placeholder="Найти">
		<ul class="filter__part--list js-filter__part--list">
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">А Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Б Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">В Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">В Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Б Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">А Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Г Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Д Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Е Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Ж Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">З Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">И Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">С Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Я Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">я Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки0</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
			<li class="filter__part--item"><a href="javascript:void(0)" class="filter__part--link">Картинки</a></li>
		</ul>
		<a href="javascript:void(0)" class="filter__part--button js-filter__show">
			<svg class="icon icons--icon-13">
				<use xlink:href="./img/sprite.svg#icons--icon13"></use>
			</svg>
			<span>Показать все</span>
		</a>
	</div>
	<div class="filter__part">
		<p class="filter__part--title">Цвет</p>
		<ul class="filter__part--list js-filter__part--list">
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #000000"></span>
					Черные
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #929292"></span>
					Серые
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #ffffff"></span>
					Белые
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #ffd932"></span>
					Желтые
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #27d443"></span>
					Зеленые
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #14d3d4"></span>
					Бирюзовые
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #057cfb"></span>
					Синие
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #cf00d8"></span>
					Фиолетовые
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #fd2b20"></span>
					Красные
				</a>
			</li>
			<li class="filter__part--item -has-color">
				<a href="javascript:void(0)" class="filter__part--link">
					<span class="filter--color" style="background: #ffa12a"></span>
					Оранжевые
				</a>
			</li>
		</ul>
	</div>
	<a href="javascript:void(0)" class="filter--submit js-filter--submit">
		Применить
	</a>
</div>
</aside>