<div class="filter__buttons">
<div class="container">
	<div class="filter--button">
		<a href="javascript:void(0)" class="js-filter">
			<svg class="icon icons--icon-22">
				<use xlink:href="./img/sprite.svg#icons--icon22"></use>
			</svg>
			Поделиться 
		</a>
		<ul class="filter__submenu js-filter__submenu">
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-26">
						<use xlink:href="./img/sprite.svg#icons--icon26"></use>
					</svg>
					Facebook 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-25">
						<use xlink:href="./img/sprite.svg#icons--icon25"></use>
					</svg>
					Twitter 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					<svg class="icon icons--icon-27">
						<use xlink:href="./img/sprite.svg#icons--icon27"></use>
					</svg>
					Vkontakte 
				</a>
			</li>
		</ul>
	</div>
	<div class="filter--button -dropdown">
		<a href="javascript:void(0)" class='js-filter'>
			Сначала популярные
			<svg class="icon icons--icon-13">
				<use xlink:href="./img/sprite.svg#icons--icon13"></use>
			</svg>
		</a>
		<ul class="filter__submenu js-filter__submenu">
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					Сначала новые 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					Сначала дешевые 
				</a>
			</li>
			<li class="filter__submenu--item">
				<a href="javascript:void(0)" class="filter__submenu--link">
					Сначала дорогие 
				</a>
			</li>
		</ul>
	</div>
	<div class="filter--button filter--button_filter">
		<a href="javascript:void(0)" class="js-filter__open">
			<svg class="icon icons--icon-35">
				<use xlink:href="./img/sprite.svg#icons--icon35"></use>
			</svg>
			Показать фильтр 
		</a>
	</div>
	<div class="filter--button filter--button_filter">
		<a href="javascript:void(0)">
			<svg class="icon icons--icon-18">
				<use xlink:href="./img/sprite.svg#icons--icon18"></use>
			</svg>
			Сбросить фильтр 
		</a>
	</div>
	<div class="filter__chosen">Медведи <span class="filter__chosen--cross"><svg class="icon icons--icon-16">
				<use xlink:href="./img/sprite.svg#icons--icon16"></use>
			</svg></span></div>
	<div class="filter__chosen">240х320 <span class="filter__chosen--cross"><svg class="icon icons--icon-16">
				<use xlink:href="./img/sprite.svg#icons--icon16"></use>
			</svg></span></div>
</div>
</div>