<div class="items items_img">
	<div class="container">
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture2.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture3.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture4.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture2.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture3.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture4.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture2.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture3.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture4.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture2.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture3.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture4.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture2.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture3.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture4.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture2.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture3.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture4.png" alt=""></a>
		</div>
		<div class="item item_img">
			<a href="javascript:void(0)"><img src="./img/picture1.png" alt=""></a>
		</div>
		<a href="javascript:void(0)" class="items__show_more">
		<svg class="icon icons--icon-13">
			<use xlink:href="./img/sprite.svg#icons--icon13"></use>
		</svg>Показать еще</a>
	</div>
</div>