	<footer class="footer">
		<div class="container">
			<div class="footer__left">
				<nav class="footer__nav">
					<ul class="footer__menu">
						<li class="footer__menu--item"><a href="javascript:void(0)" class="footer__menu--link">Конкурс</a></li>
						<li class="footer__menu--item"><a href="javascript:void(0)" class="footer__menu--link">Контакты</a></li>
					</ul>
				</nav>
				<p class="footer--copyright">© androspace.ru, 2017 — 2018</p>
			</div>
			<div class="footer__links">
				<a href="javascript:void(0)" class="footer--link">Правообладателям</a>
				<a href="javascript:void(0)" class="footer--link">Отказ от ответственности</a>
				<a href="javascript:void(0)" class="footer--link">Политика конфиденциальности</a>
			</div>
		</div>
	</footer>
	<!-- Modals -->
	<div class="opacity"></div>
	<!-- Scripts -->
	<script src="./js/main.js"></script>
</body>
</html>