<section class="subcategory__head">
	<div class="container">
		<ul class="subcategory__head--breadcrumbs">
			<li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Главная</a></li>
			<li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Игры</a></li>
			<li class="subcategory__head--breadcrumb"><a href="javascript:void(0)" class="subcategory__head--link">Аркады</a></li>
		</ul>
		<h1 class="subcategory__head--title">Каталог Аркад для Андроид</h1>
	</div>
</section>