<div class="items">
	<div class="container">
		<div class="item">
			<div class="item__head">
				<div class="item__head--img">
				<a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
				</div>
				<div class="item__head--title"><a href="javascript:void(0)" class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description -more">Станьте одним из участников самой популярной королевской. Станьте одним из участников самой популярной королевской. Станьте одним из участников самой популярной королевской. Станьте одним из участников самой популярной королевской. Станьте одним из участников самой популярной королевской. Станьте одним из участников самой популярной королевской. Станьте одним из участников самой популярной королевской.</p>
				</div>
				<div class="item__tags">
				<a href="javascript:void(0)" class="item__tags--tag">Гонки</a>
				<a href="javascript:void(0)" class="item__tags--tag">Машинки</a>
				<a href="javascript:void(0)" class="item__tags--tag">Симуляторы</a>
				<a href="javascript:void(0)" class="item__tags--tag">Машинки</a>
				<a href="javascript:void(0)" class="item__tags--tag -plus">
					<svg class="icon icons--icon-17">
						<use xlink:href="./img/sprite.svg#icons--icon17"></use>
					</svg>
				</a>
			</div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<div class="item">
			<div class="item__head">
				<div class="item__head--img"><a href="javascript:void(0)"><img src="./img/item.png" alt=""></a>
					</div>
				<div class="item__head--title"><a href="javascript:void(0)"  class="item__head--name">The Walking Dead: Season One</a>
				<p class="item__head--description">Станьте одним из участников самой популярной королевской.</p>
				</div>
			<div class="item__tags"><a href="javascript:void(0)" class="item__tags--tag">Гонки</a><a href="javascript:void(0)" class="item__tags--tag">Машинки</a></div>
			</div>
			<div class="item__content">
				<span class="item__content--downloads">
					<svg class="icon icons--icon-29">
						<use xlink:href="./img/sprite.svg#icons--icon29"></use>
					</svg>
					2410
				</span>
				<span class="item__content--comments">
					<svg class="icon icons--icon-5">
						<use xlink:href="./img/sprite.svg#icons--icon5"></use>
					</svg>
					1,8k
				</span>
				<span class="item__content--time">20 минут назад</span>
			</div>
			<div class="item__hover">
				<ul class="item__hover--list">
					<li class="item__hover--item">
						<span class="item__hover--item_name">Графика</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Геймплей</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">Управление</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">5</span>
					</li>
					<li class="item__hover--item">
						<span class="item__hover--item_name">В целом</span>
						<span class="item__hover--item_line"></span>
						<span class="item__hover--item_rate">4</span>
					</li>
				</ul>
				<a href="javascript:void(0)" class="item__hover--link">142 отзыва</a>
			</div>
			<div class="list__item--rating js-item__rating" data-rate="high">8,8</div>
		</div>
		<a href="javascript:void(0)" class="items__show_more">
		<svg class="icon icons--icon-13">
			<use xlink:href="./img/sprite.svg#icons--icon13"></use>
		</svg>Показать еще</a>
	</div>
</div>