<section class="list">
	<div class="container">
		<div class="title list__title">
			<h2 class="title__text list__title--text">
				<svg class="icon icons--icon-6">
					<use xlink:href="./img/sprite.svg#icons--icon6"></use>
				</svg>
				Подборки
			</h2>
		</div>
		<div class="list__block js-slider -large">
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="high">9.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.7</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="low">2.5</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="high">9.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.7</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="medium">5.2</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
			<a href="javascript:void(0)" class="list__item">
				<figure class="list__item--block">
					<img src="./img/category.png" class="list__item--img" alt="">
					<span class="list__item--rating" data-rate="low">2.5</span>
					<figcaption class="list__item--name">
						<div class="list__item--text">Аналоги PUBG</div>
						<div class="list__item--uploaded">25 игр</div>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</section>