<section class="category__head">
	<div class="container">
		<h1 class="category--title">Игры</h1>
		<nav class="category__subcategories">
			<ul class="category__subcategories--menu js-category__menu">
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Аркады<span>135</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Экшены <span>17</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Файтинги  <span>58</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Хорроры<span>6</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Приключения <span>17</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">RPG<span>99</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Гонки <span>18</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Головоломки <span>59</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Стратегии<span>4</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Спортивные <span>75</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Симуляторы  <span>85</span></a>
				</li>
				<li class="category__subcategories--item">
					<a href="javascript:void(0)" class="category__subcategories--link">Настольные  <span>99</span></a>
				</li>
			</ul>
		</nav>
	</div>
</section>