<section class="tags">
	<div class="container">
		<h2 class="tags--title">
			Игры по тегам 
			<span class="js-tags--search">
				<input type="text" class="tags--input js-tags--input" placeholder="Что искать?">
				<a href="javascript:void(0)" class="tags--search__icon js-tags--search__icon">
					<svg class="icon icons--icon-14">
						<use xlink:href="./img/sprite.svg#icons--icon14"></use>
					</svg>
				</a>
				<a href="javascript:void(0)" class="header__search--cross" id="tagsSearchCross">
					<svg class="icon h-icons--icon-16">
					    <use xlink:href="./img/sprite.svg#icons--icon16"></use>
					</svg>
				</a>
			</span>
		</h2>
		<nav class="tags--block">
			<ul class="tags--menu">
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">MMORPG</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">игры для девочек</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">tower defense</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">футбол</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">онлайн</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">стрелялки</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">игры для детей</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">погода</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">игры Zuma</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">GPS</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">рисование</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">арканоиды</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">экшен RPG</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">социальные сети</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">runner</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">AR игры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">информеры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">безопасность</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">мультиплеерные игры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">музыкальные</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">эмуляторы</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">слэшеры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">поддержка джойстика</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">пиксельные игры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">фермы</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">игры на двоих</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">кликеры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">игры с кэшем</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">игры без кэша</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">моды</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">GPS</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">рисование</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">арканоиды</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">экшен RPG</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">социальные сети</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">runner</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">AR игры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">информеры</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">безопасность</a></li>
				<li class="tags--tag"><a href="javascript:void(0)" class="tags--link">мультиплеерные игры</a></li>
			</ul>
		</nav>
		<a href="javascript:void(0)" class="tags--button js-open--tags">
			<span>
				<svg class="icon icons--icon-13">
					<use xlink:href="./img/sprite.svg#icons--icon13"></use>
				</svg>
			</span>
			Показать все
		</a>
	</div>
</section>