.list {
	width: 100%;
	height: auto;
	background: $inactive;
	padding-bottom:70px;
	border-bottom: 1px solid #d8d8d8;
}
.list__item {
	height: auto;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	width: 100%;
  	&:hover {
  		& .list__item--text {
  			color: $black
  		}
  		& .list__item--img {
  			-webkit-transform: scale(1.2);
  			   -moz-transform: scale(1.2);
  			    -ms-transform: scale(1.2);
  			     -o-transform: scale(1.2);
  			        transform: scale(1.2);
  		}
  	}
}
@include respond-below(md) {
	.slick-list {
		margin: 0 -5px;
		padding-bottom: 10px;
		margin-bottom: -10px;
	}
	.slick-slide {
		margin: 0 5px;
	}
}
.slick-slide > div {
	    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.list__item--block {
	@include flex(column, flex-start, stretch);
	height: 100%;
	width: 100%;
	max-width: 280px;
	margin:0 auto;
	background: #FFF;
	position: relative;
	box-shadow: $box-shadow;
	overflow: hidden;
	border-radius: 5px;
	&:after {
		float: left;
  		content: "";
  		padding-bottom: calc(100% + 75px);
  		display: block;
  		width: 100%;
  	}
}
.-large {
	.list__item--block {
		max-width: 440px;
		&:after {
			display: none;
		}
		.list__item--img {
			position: static;
		}
		.list__item--name {
			position: static;
		}
	}
	.list__item--rating {
		display: none;
	}
}
.list__item--img {
	flex: 0 0 280px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 1;
	@include transition(all, .5s);
	// object-fit: cover;
	// object-position: center top;
}
.list__item--rating {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 3;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	@include flex(row, center, center);
	bottom: 55px;
	right: 20px;
	font-size: $text-small;
	color: $black;
	background: $inactive;
	&[data-rate="high"] {
		background: $green-light;
	}
	&[data-rate="medium"] {
		background: $yellow;
	}
}
.list__item--name {
	padding: 15px;
	width: 100%;
	flex: 0 0 75px;
	height: 75px;
	z-index: 2;
	background: #FFF;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
}
.list__item--uploaded {
	font-size: 13px;
	color: $grey-light;
	height: 20px;
	line-height: 20px;
	@include flex();
	& span {
		font-size: $text;
		color: $black;
		margin-left: 25px;
	}
}
.list__item--text {
	color: $green;
	font-size: $text-small;
	font-weight: 400;
	line-height: $text;
	line-height: 1.5;
	@include transition(all, .3s);
	display: -webkit-box;
  	 /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  	-webkit-line-clamp: 2;
  	overflow: hidden;
}
.list__filter {
	@include flex(row, space-between, center, nowrap);
	height: auto;
	width: 100%;
	margin-bottom: 25px;
}
.list__filter--item {
	color: $green;
	font-size: $text-small;
	text-transform: lowercase;
	@include transition(all, .3s);
	&:hover, &[data-state="is-active"] {
		color: $black;
	}
}

@include respond-above(sm){
	.list {
		& .slick-slide {
			width: calc((100vw - 10px)/2) !important;
		}
		.list__block:not(.-large) {
			.slick-active {
				.list__item--block {
					float: left;
				}
				&.slick-current {
					.list__item--block {
						float: right;
					}
				}
			}
		}
	}
	.list__item--img {
		flex: 1 1 280px;
	}
	.list__item--rating {
		bottom: 55px;
		top: auto;
	}
	.list__filter {
		-webkit-justify-content: center;
		        justify-content: center;
	}
	.list__filter--item {
		margin: 0 8px;
	}
}
@include respond-above(md) {
	.list__pictures {
		.list__block {
			grid-template-rows: auto;
			grid-auto-rows: auto;
		}
	}
	.list__block {
		// @include flex(row, space-between, stretch, wrap);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-auto-rows: auto;
		grid-gap: 10px;
		&.-one--row {
			.list__item {
				&:nth-child(n + 4)  {
					display: none;
				}
			}
		}
		&.-large {
			grid-template-columns: repeat(3, 1fr);
			.list__item {
				&:nth-child(n + 4) {
					display: none;
				}
			}
		}
	}
	.list__item {
		width: 100%;
		&:nth-child(n + 7)  {
			display: none;
		}
		&:nth-child(-n + 7) {
			display: block;
		}
	}
	.list__item--rating {
		right: 10px;
	}
	.list__title {
		display: inline-block;
	}
	.list__filter {
		display: inline-flex;
		width: auto;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
	    padding-left: 35px;
	}
	.list__item--uploaded {
		& span {
			font-size: 13px;
			margin-left: 1px;
		}
	}
}
@include respond-above(lg) {
	.list__block {
		grid-template-columns: repeat(5, 1fr);
		&.-one--row {
			.list__item {
				&:nth-child(n + 4) {
					display: none;
				}
				&:nth-child(-n + 4) {
					display: block;
				}
			}
		}
		&.-large {
			grid-template-columns: repeat(4, 1fr);
			.list__item {
				&:nth-child(n + 5) {
					display: none;
				}
				&:nth-child(-n + 4) {
					display: block;
				}
			}
		}
	}
	.list__item {
		&:nth-child(n + 9)  {
			display: none;
		}
		&:nth-child(-n + 9) {
			display: block;
		}
	}
}

@include respond-above(xl) {
	.list__block {
		grid-template-columns: repeat(6, 1fr);
		&.-one--row {
			.list__item {
				&:nth-child(n + 5) {
					display: none;
				}
				&:nth-child(-n + 5) {
					display: block;
				}
			}
		}

		&.-large {
			.list__item {
				&:nth-child(n + 8) {
					display: none !important;
				}
				&:nth-child(-n + 8) {
					display: block !important;
				}
			}
		}
	}
	.list__item {
		&:nth-child(n + 11)  {
			display: none;
		}
		&:nth-child(-n + 11) {
			display: block;
		}
		
	}
}