.new {
	width: 100%;
	height: auto;
	background: $green-light;
	padding-bottom:70px
}
.title__text.new__title--text {
	color: $white;
	& .icon {
		font-size: 2.5rem;
	}
}

.new__item {
	height: auto;
	-webkit-border-radius: 6px;
	        border-radius: 6px;
	width: 100%;
  	&:hover {
  		& .new__item--text {
  			color: $black
  		}
  		& .new__item--img {
  			-webkit-transform: scale(1.2);
  			   -moz-transform: scale(1.2);
  			    -ms-transform: scale(1.2);
  			     -o-transform: scale(1.2);
  			        transform: scale(1.2);
  		}
  	}
}
.new__item--block {
	@include flex(column, flex-start, stretch);
	height: 100%;
	width: 100%;
	background: #FFF;
	position: relative;
	box-shadow: $box-shadow;
	max-width:280px;
	overflow: hidden;
	border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
}
.new__item--img {
	@include transition(all, .5s);
	flex: 0 0 280px;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	object-fit: cover;
	object-position: center top;
}
.new__item--rating {
	position: absolute;
	z-index: 3;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	@include flex(row, center, center);
	top: 260px;
	right: 20px;
	font-size: $text-small;
	color: $black;
	background: $inactive;
	&[data-rate="high"] {
		background: $green-light;
	}
	&[data-rate="medium"] {
		background: $yellow;
	}
}
.new__item--name {
	padding: 15px;
	width: 100%;
	flex: 0 0 75px;
	height: 75px;
	z-index: 2;
	background: #FFF;

}
.new__item--text {
	@include transition(all, .3s);
	color: $green;
	font-size: $text-small;
	font-weight: 400;
	line-height: $text;
	display: -webkit-box;
  	 /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  	-webkit-line-clamp: 2;
  	overflow: hidden;
}
.new__item--uploaded {
	font-size: 13px;
	color: $grey-light;
	height: 20px;
	line-height: 20px;
	@include flex();
	& span {
		font-size: $text;
		color: $black;
	}
}

@include respond-above(sm) {
	.new__block {
		& .slick-slide {
			width: calc((100vw - 10px)/2) !important;
			&:nth-child(odd) {
				margin-right: 10px;
			}
			&:last-child {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
	.new__item--img {
		flex: 1 1 auto;
	}
	.new__item--rating {
		bottom: 75px;
		top: auto;
	}
}

@include respond-above(md) {
	.new__block {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		grid-template-rows: 280px;
		grid-auto-rows: 280px;
	}
	.new__item {
		&:nth-child(n + 7)  {
			display: none;
		}
		&:nth-child(-n + 7) {
			display: block;
		}
		width: 100%;
	}
	.new__item--rating {
		right: 10px;
	}
	.new__item--uploaded {
		& span {
			font-size: 13px;
			margin-left: 1px;
		}
	}
}

@include respond-above(lg) {
	.new__block {
		grid-template-columns: repeat(5, 1fr);
	}
	.new__item {
		&:nth-child(n + 9)  {
			display: none;
		}
		&:nth-child(-n + 9) {
			display: block;
		}
	}
}

@include respond-above(xl) {
	.new {
		background: $green-light url(../img/new__bg.jpg) center center no-repeat; 
		-webkit-background-size: auto 100%;
		     -o-background-size: auto 100%;
		        background-size: auto 100%;
	}
	.new__block {
		grid-template-columns: repeat(6, 1fr);
	}
	.new__item {
		&:nth-child(n + 11)  {
			display: none;
		}
		&:nth-child(-n + 11) {
			display: block;
		}
	}
}