.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icons--icon1 {
	font-size:(46/10)*1rem;
	width:(46/46)*1em;
}
.icons--icon10 {
	font-size:(15.8/10)*1rem;
	width:(19.8/15.8)*1em;
}
.icons--icon11 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icons--icon12 {
	font-size:(48.3/10)*1rem;
	width:(25/48.3)*1em;
}
.icons--icon13 {
	font-size:(8.2/10)*1rem;
	width:(20.5/8.2)*1em;
}
.icons--icon14 {
	font-size:(28.6/10)*1rem;
	width:(27.6/28.6)*1em;
}
.icons--icon15 {
	font-size:(15.9/10)*1rem;
	width:(20.8/15.9)*1em;
}
.icons--icon16 {
	font-size:(212.98/10)*1rem;
	width:(212.98/212.98)*1em;
}
.icons--icon17 {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icons--icon18 {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icons--icon19 {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icons--icon2 {
	font-size:(53.2/10)*1rem;
	width:(40.1/53.2)*1em;
}
.icons--icon20 {
	font-size:(20/10)*1rem;
	width:(24/20)*1em;
}
.icons--icon21 {
	font-size:(7.6/10)*1rem;
	width:(25/7.6)*1em;
}
.icons--icon22 {
	font-size:(17.6/10)*1rem;
	width:(17.4/17.6)*1em;
}
.icons--icon23 {
	font-size:(35.2/10)*1rem;
	width:(35.2/35.2)*1em;
}
.icons--icon24 {
	font-size:(18.9/10)*1rem;
	width:(18.9/18.9)*1em;
}
.icons--icon25 {
	font-size:(15.9/10)*1rem;
	width:(19.6/15.9)*1em;
}
.icons--icon26 {
	font-size:(19.4/10)*1rem;
	width:(19.4/19.4)*1em;
}
.icons--icon27 {
	font-size:(14.5/10)*1rem;
	width:(25.4/14.5)*1em;
}
.icons--icon28 {
	font-size:(25.4/10)*1rem;
	width:(25.4/25.4)*1em;
}
.icons--icon29 {
	font-size:(25.9/10)*1rem;
	width:(23.6/25.9)*1em;
}
.icons--icon3 {
	font-size:(20/10)*1rem;
	width:(24/20)*1em;
}
.icons--icon30 {
	font-size:(18.5/10)*1rem;
	width:(19.5/18.5)*1em;
}
.icons--icon31 {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icons--icon32 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icons--icon33 {
	font-size:(23.3/10)*1rem;
	width:(29.6/23.3)*1em;
}
.icons--icon34 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icons--icon35 {
	font-size:(32.8/10)*1rem;
	width:(31.6/32.8)*1em;
}
.icons--icon36 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icons--icon37 {
	font-size:(33.6/10)*1rem;
	width:(33.6/33.6)*1em;
}
.icons--icon4 {
	font-size:(38.4/10)*1rem;
	width:(53/38.4)*1em;
}
.icons--icon48 {
	font-size:(33.6/10)*1rem;
	width:(25.2/33.6)*1em;
}
.icons--icon5 {
	font-size:(16.2/10)*1rem;
	width:(16.6/16.2)*1em;
}
.icons--icon6 {
	font-size:(37.9/10)*1rem;
	width:(48/37.9)*1em;
}
.icons--icon7 {
	font-size:(32/10)*1rem;
	width:(28.2/32)*1em;
}
.icons--icon8 {
	font-size:(34.4/10)*1rem;
	width:(35.9/34.4)*1em;
}
.icons--icon9 {
	font-size:(34/10)*1rem;
	width:(34/34)*1em;
}
.smiles--smiles-01 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-02 {
	font-size:(174.5/10)*1rem;
	width:(164.7/174.5)*1em;
}
.smiles--smiles-03 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-04 {
	font-size:(173.6/10)*1rem;
	width:(165.1/173.6)*1em;
}
.smiles--smiles-05 {
	font-size:(165.4/10)*1rem;
	width:(190.9/165.4)*1em;
}
.smiles--smiles-06 {
	font-size:(165.4/10)*1rem;
	width:(190.1/165.4)*1em;
}
.smiles--smiles-07 {
	font-size:(173.9/10)*1rem;
	width:(164.7/173.9)*1em;
}
.smiles--smiles-08 {
	font-size:(178/10)*1rem;
	width:(164.7/178)*1em;
}
.smiles--smiles-09 {
	font-size:(165.6/10)*1rem;
	width:(164.7/165.6)*1em;
}
.smiles--smiles-10 {
	font-size:(169.4/10)*1rem;
	width:(187.1/169.4)*1em;
}
.smiles--smiles-11 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-12 {
	font-size:(165.4/10)*1rem;
	width:(180.8/165.4)*1em;
}
.smiles--smiles-13 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-14 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-15 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-16 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-17 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-18 {
	font-size:(165.4/10)*1rem;
	width:(183.1/165.4)*1em;
}
.smiles--smiles-19 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-20 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-21 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-22 {
	font-size:(178.2/10)*1rem;
	width:(164.7/178.2)*1em;
}
.smiles--smiles-23 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-24 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-25 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-26 {
	font-size:(176.1/10)*1rem;
	width:(164.7/176.1)*1em;
}
.smiles--smiles-27 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-28 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-29 {
	font-size:(165.4/10)*1rem;
	width:(186.9/165.4)*1em;
}
.smiles--smiles-30 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-31 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-32 {
	font-size:(193.4/10)*1rem;
	width:(164.7/193.4)*1em;
}
.smiles--smiles-33 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-34 {
	font-size:(176.1/10)*1rem;
	width:(164.7/176.1)*1em;
}
.smiles--smiles-35 {
	font-size:(165.4/10)*1rem;
	width:(164.7/165.4)*1em;
}
.smiles--smiles-36 {
	font-size:(176.1/10)*1rem;
	width:(164.7/176.1)*1em;
}
